*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    height: 100vh;
    width:100vw;
    background-color: rgba(0, 255, 255, 0.04);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    
    
}
.status-bar {
    display: none;
}
.left{
    flex-basis: 50%;
    width: 100%;
}
.left .Logo{
    width: 77.333px;
    height: 80px;
    flex-shrink: 0;
    margin: 40px 0 50px;
}
.left h1 {
    color:  #000B0A;
    font-family: Brown;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px; /* 125% */
    letter-spacing: -0.8px;
    margin-bottom: 20px;
}
.left p{
    font-family: Brown;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 156.25% */
    width: 73%;
}
.upfront{
    width: 100%;
    height: 20px;
    margin: 50px;
    
}

         /* RIGHT */
           
.right{
    flex-basis: 50%;
    margin: 20px;

}
form{
    width: 580px;
    height: 590px;
    padding: 40px;
    margin: 80px 0 81px 0;
    border-radius: 6px;
    background: #FFF;
    box-shadow: 0px 4px 50px 0px rgba(4, 8, 19, 0.10);
}

.input-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
    
}
.input-group{
    display: flex;
    flex-direction: column;
     width:100%;

}
.lft {
    margin-left: 40px;
}
.input-group label {
    margin-bottom: 17px;
}
.input-group .focus{
    border: 1.5px solid #2EC4B6;
}
label {
    color: #011C34;
    font-family: Sofia Pro;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.1px;
}
input, select{
    height: 32px;
    padding: 7px;
    outline: none;
    font-size: 14px;
    color: #737373;
}
.last-part input {
    height: 32px;
}
#lbl-pass {
    margin-top: 25px;
}
.icon{
    position: relative;

}
.icon img{
    width:16px;
    height: 16px;
    position: absolute;
    right: 20px; 
    top:50%;
    transform: translateY(-50%);
}
.icon input {
    width: 100%;
}

button{
    width: 100%;
    height: 48px;
    background-color:  #2EC4B6;
    filter: drop-shadow(0px 10px 40px rgba(0, 0, 0, 0.10));
    text-align: center;
    font-family: Sofia Pro;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.2px;
    color: #FFF;
    margin-top: 25px;
}
.terms {
    margin-top: 20px;
    padding: 0 7px;
}
.terms a {
    color: #2EC4B6;
}
.left{
    display: flex;
    flex-direction: column;
    margin: 40px;
}
@media only screen and (max-width: 768px) {
 
    body{
        background-color: #F7FDFc;
    }
    .main{
        display: block;
        padding: 0;
    }
    
    .status-bar{
            display: flex;
            justify-content: space-between;
            padding: 15px 30px;;
        }
    .status-bar img:first-of-type{
            width: 20px;
        }
    .status-bar img:last-of-type{
            width: 40px;
        }

    .left{
        margin: 30px;
    }

    .left .Logo{
        width: 42.67px;
        height: 44px;   
    }
    .left h1{
        font-family: Brown;
        font-size: 30px;
        font-weight: 700;
        line-height: 29px;
        letter-spacing: -0.800000011920929px;
        text-align: left;
        
    }
    .left p {
        font-family: Brown;
        font-size: 16px;
        font-weight: 300;
        line-height: 25px;
        letter-spacing: 0px;
        text-align: left;
        
    }
    
    .right{
        display: flex;
        justify-content: center;
    }
    
    .right {
      margin: 0;
    }
    .right .left{
        margin: 0;
    }
    .upfront{
        display: none;
    }
    form{
        width: 90%;
        padding: 10px;
        height: 600px;
        padding-top: 20px;
        margin: 10px;
    }
    form label {
        color: #011C34;
        font-family: Sofia Pro;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 0.1px;
    }
    .input-row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .input-group label {
        margin-bottom: 20px;
    }

    .lft{
        display: none;
    }
    .terms p{
        text-align: center;
    }
}
